@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none;
}

@layer base {
    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    input[type="number"] {
        -moz-appearance: textfield;
        appearance: textfield
    }
}

@keyframes gradientBorder {
    0% {
        border-color: #32CD32;
    }
    50% {
        border-color: #00FF00;
    }
    100% {
        border-color: #32CD32;
    }
}

.gradient-border {
    animation: gradientBorder 2s infinite;
    border-style: solid;
    border-width: 2px;
    border-radius: 0.5rem;
}

.border-condition {
    border-color: transparent;
}

.current-step-3 {
    border-color: #32CD32;
    animation: gradientBorder 2s infinite;
}
